<section class="py-20 lg:py-25">
  <div class="max-w-[1336px] mx-auto px-8 text-black relative z-20">
    <h1 class="text-center lg:text-left text-[2.625rem] lg:text-5xl times-font mb-12 lg:mb-3 leading-[100%]">
      Discover other <span class="italic">services</span>
    </h1>
    <div
      class="uppercase times-font text-xl leading-[100%]"
    >
      <div
        class="flex flex-wrap xl:flex-nowrap items-center lg:items-center lg:justify-center lg:justify-between gap-x-2.5 sm:gap-x-3.75 "
      >
        <p
          class="text-center lg:text-left xl:whitespace-nowrap px-3 py-1.5 sm:px-4 sm:py-2 lg:rounded-none lg:border-0 lg:bg-transparent lg:px-0 lg:py-0 lg:underline leading-[150%]"
        >
          Social & Event Accompaniment
        </p>
        <p
          class="text-center lg:text-left xl:whitespace-nowrap px-3 py-1.5 sm:px-4 sm:py-2 lg:rounded-none lg:border-0 lg:bg-transparent lg:px-0 lg:py-0 lg:underline leading-[150%]"
        >
         Travel & Destination Experiences
        </p>
        <p
          class="text-center lg:text-left xl:whitespace-nowrap px-3 py-1.5 sm:px-4 sm:py-2 lg:rounded-none lg:border-0 lg:bg-transparent lg:px-0 lg:py-0 lg:underline leading-[150%]"
        >
           Discreet Dinners & Evenings
        </p>
        <p
          class="w-full text-center lg:text-left xl:whitespace-nowrap px-3 py-1.5 sm:px-4 sm:py-2 lg:rounded-none lg:border-0 lg:bg-transparent lg:px-0 lg:py-0 lg:underline leading-[150%] "
        >
         Bespoke Requests
        </p>
      </div>
      
    </div>
  </div>
</section>
