<section
  class="min-h-screen bg-[url('../assets/images/service-section.png')] w-full bg-cover bg-no-repeat bg-[position:49.5%_30%] lg:bg-center py-25 lg:py-30 relative"
>
  <div class="absolute top-0 left-0 w-full h-full bg-[#00000059] z-10"></div>

  <div class="max-w-[1336px] mx-auto px-8 text-white relative z-20">
    <div>
      <h1
        class="text-[3.5rem] xl:text-[6.5625rem] times-font tracking-[-1px] leading-[100%] mb-8 w-[8ch] md:w-full"
      >
        VIP Service Amsterdam
      </h1>
      <p
        class="text-[#E5DED4] text-[0.9375rem] xl:text-xl xl:w-[70ch] leading-[160%] lg:leading-[122%] mb-6"
      >
        VIP is for moments where presence, timing, and the right impression
        truly matter. Not loud, not rushed — but calm, refined, and discreet.
        For guests who want to experience Amsterdam at a higher level, with
        company that naturally fits the setting.
      </p>
      <p
        class="text-[#E5DED4] text-[0.9375rem] xl:text-xl xl:w-[70ch] leading-[160%] lg:leading-[122%]"
      >
        Think of a luxury hotel bar or suite, an elegant dinner, a casino
        evening, a club, or a private event. You share your plan and context
        (and optionally a dress code), and we select a VIP companion that
        matches: stylish, mature, and composed in conversation. The approach is
        intentionally simple. Instead of endless messaging, you submit one clear
        Booking Request. That allows us to confirm availability quickly and
        align the practical details — clear, by appointment, and with full
        respect for privacy.
      </p>

      <div class="flex flex-col sm:flex-row gap-4 mt-6 lg:mt-14">
        <button
          class="bg-[#FFFFFF1A] lg:bg-white py-3.5 px-5 w-full lg:w-fit tracking-[0.-35px] text-sm gap-2 cursor-pointer text-white lg:text-black lg:hover:bg-white/75 active:bg-white/50 duration-300 rounded-full lg:rounded-none border border-white/30 lg:border-none"
        >
          Booking request
          <i class="fa-solid fa-arrow-right text-base -rotate-45 ml-2"></i>
        </button>
        <button
          class="hidden lg:block py-3.5 px-5 w-full lg:w-fit tracking-[0.-35px] text-white/80 text-sm gap-2 cursor-pointer underline underline-offset-6"
        >
          Ask a question
        </button>
      </div>
      <p class="flex items-center gap-2 text-white/80 text-sm italic mt-6 lg:mt-4">
      <span class="lg:hidden">•</span> Discreet, by appointment, with clear coordination in advance.
      </p>
    </div>
  </div>
</section>
