<section class="py-15 lg:py-25">
    <div class="max-w-[1336px] mx-auto px-8 text-black relative z-20">
        <div class="text-black mb-12 lg:mb-16">
            <h1 class="text-[2.625rem] lg:text-[3.375rem]  times-font text-center mb-4">Services</h1>
            <p class="text-base lg:text-xl text-[#565656] leading-[150%] lg:w-[67ch] mx-auto text-center  ">Choose the service direction that fits your moment — then confirm discreetly via booking request.</p>
        </div>
        <div id="service-cards-grid" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            
        </div>
    </div>
</section>