<section class="py-20 lg:py-0 lg:pt-25 lg:pb-35">
  <div class="max-w-[1336px] mx-auto px-8 text-black relative z-20">
    <div class="mb-12 lg:mb-20">
      <h1
        class="text-[2.625rem] lg:text-[3.375rem] text-center times-font leading-[120%] mb-4 lg:mb-6"
      >
        VIP service, clearly defined
      </h1>
      <p class="text-center text-base lg:text-xl text-[#565656]">
        Premium companionship shaped around setting, presentation, and
        discretion.
      </p>
    </div>
    <div id="vip-service-cards" class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-13"></div>
  </div>
</section>
