<section class=" lg:py-25 ">
    <div class="max-w-[1336px] mx-auto px-8 relative z-20 ">
        <div class="border-t border-[#0000001A] lg:border-none  py-12 lg:py-0">
            <h2 class="text-[2.25rem] text-[3.5rem] text-center times-font leading-[45px]">Base rates & <br class="lg:hidden"> minimum duration</h2>
            <p class="lg:hidden text-sm font-extrathin text-center mt-4">Rates may vary based on context and planning details.</p>
        </div>

        <div class="lg:border-y border-[#0000001A] mt-6 lg:mt-12 py-12">
            <div>
                
            </div>
        </div>
    </div>
</section>