<main>
  <section
    class="bg-[url('/assets/images/pricing.png')] w-full bg-cover bg-no-repeat bg-[50%_100%] bg-bottom lg:bg-top py-25 relative"
  >
    <div class="absolute inset-0 bg-[#00000099]"></div>

    <div class="max-w-[1336px] mx-auto px-8 relative z-20 text-white">
      <h2
        class="text-center text-[2.625rem] lg:text-[3.375rem] times-font lg:mb-20"
      >
        Pricing Guidance
      </h2>

      <div class="pricing-guide-text hidden lg:block"></div>

      <div
        class="hidden lg:flex items-center justify-center gap-10.5 items-center mt-10 lg:mt-10"
      >
        <button
          class="flex items-center gap-1 bg-[#E5DED4] w-full lg:w-fit sm:bg-transparent text-white flex justify-center sm:justify-start items-center sm:items-center text-xl xl:text-2xl font-tight tracking-[-1px] leading-[110%] text-left cursor-pointer hover:text-white/75 active:text-white/50 duration-300"
        >
          Booking request
          <i class="fa-solid fa-arrow-right text-xl -rotate-45"></i>
        </button>

        <button
          class="flex items-center gap-1 bg-[#E5DED4] w-full lg:w-fit sm:bg-transparent text-white flex justify-center sm:justify-start items-center sm:items-end text-xl xl:text-xl font-tight tracking-[-1px] leading-[110%] text-left border-b border-white/80 cursor-pointer border-b border-black/80 hover:text-white/75 active:text-white/50 duration-300"
        >
          View companions
        </button>
      </div>
    </div>
  </section>
  <div class="max-w-[1336px] mx-auto px-8 relative z-20 text-white">
    <div class="pricing-guide-text block lg:hidden"></div>
  </div>
</main>
