<section class="pb-12 pt-25 lg:py-[198px]">
    <div class="max-w-[1336px] mx-auto px-8 relative z-20">
        <h1 class="text-[3.5rem] lg:text-[8.125rem] times-font lg:w-[13ch] leading-[100%] lg:leading-[120%] uppercase tracking-[-2px] text-center lg:text-left">Pricing & Guidelines</h1>
        <p class="text-sm lg:text-xl text-center text-black/70 mt-6 lg:mt-5"><span class="hidden lg:block">Clear structure, calm confirmation</span> <span class="lg:hidden uppercase">Private & Social Moments</span> </p>
    </div>
</section>