<section
  class="bg-[url('assets/images/city/bg.png')] min-h-screen w-full bg-cover bg-no-repeat bg-[position:0%_60%] lg:bg-center relative"
>
  <div class="absolute inset-0 bg-[#00000080]"></div>
  <div
    class="relative flex flex-col justify-end sm:justify-center min-h-screen max-w-[1336px] mx-auto px-8 pb-6 pt-30 lg:pt-40"
  >
    <h1
      class="text-[2.6125rem] sm:text-[4rem] lg:text-[5.25rem] times-font font-extrathin text-white leading-[100%] tracking-[-1.68px]"
    >
      Companion <span class="italic">Amsterdam</span>
    </h1>

    <p class="text-base text-white lg:text-lg my-6 lg:w-[70ch] leading-[160%]">
      Op zoek naar escort in Amsterdam? Pleasure Escort biedt high class
      gezelschap met rust, discretie en duidelijke afstemming. U kiest niet uit
      een schreeuwerige etalage, maar uit een zorgvuldig gecureerde selectie —
      met aandacht voor uitstraling, houding en sfeer. <br><br> Wie zoekt naar een
      Amsterdam escort wil snel aanvoelen of het niveau klopt én of het proces
      comfortabel is. Bij Pleasure Escort werkt boeken eenvoudig: u kiest uw
      voorkeur(en), geeft uw stad, tijd, duur en setting (hotel/privé) door, en
      ontvangt een discrete bevestiging. <br><br> De ervaring zelf is net zo rustig
      opgebouwd als de communicatie. Of het nu gaat om een stijlvolle avond uit,
      gezelschap tijdens een zakelijke gelegenheid of een privé moment in een
      luxe omgeving — afstemming staat centraal, zodat alles klopt in toon,
      tempo en setting.
    </p>
    <div class="flex flex-col sm:flex-row gap-4">
      <button
        class="bg-white py-3.5 px-5 w-full lg:w-fit tracking-[0.-35px] text-sm gap-2 cursor-pointer hover:bg-white/75 active:bg-white/50 duration-300"
      >
        Booking request
        <i class="fa-solid fa-arrow-right text-base -rotate-45 ml-2"></i>
      </button>
      <button
        class="py-3.5 px-5 w-full lg:w-fit tracking-[0.-35px] text-sm gap-2 cursor-pointer underline underline-offset-4 text-white"
      >
        View profiles
        <i class="fa-solid fa-arrow-right text-base -rotate-45 ml-2"></i>
      </button>
    </div>
  </div>
</section>