<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="max-w-[1272px] mx-auto px-8 xl:px-0 py-16 xl:py-25">
      <div class="w-full flex justify-start sm:justify-end mb-5.25 sm:mb-10">
        <h1
          class="text-[2rem] sm:text-[3.5rem] times-font text-left sm:text-right text-black leading-[100%]"
        >
          A carefully curated selection <br class="hidden sm:block" />
          <span class="italic">presented for private and social moments.</span>
        </h1>
      </div>
      <!-- Cards -->
      <div>
        <div id="cardGrid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3.75">
          
        </div>
      </div>
    </section>
  </body>
</html>
