<section class="py-25 lg:py-30 relative">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <h1
      class="uppercase times-font text-[3.5rem] md:text-[4.5rem] lg:text-[6.2rem] xl:text-[8.125rem] leading-[110%] tracking-[-3px] mb-7.5 lg:mb-8"
    >
      Selected writings
    </h1>
    <div class="space-y-4 max-w-[926px] mb-6 lg:mb-12">
      <p class="text-[0.9375rem] lg:text-xl leading-[110%]">
        Thoughtful notes on discretion, etiquette, and private experiences —
        written to clarify expectations, offer perspective, and support calm,
        well-aligned decisions. In a world where privacy is no longer automatic,
        the quality of an experience often depends on structure: fewer messages,
        clearer confirmation, and a tone that stays respectful from the first
        request onward.
      </p>
      <p class="text-[0.9375rem] lg:text-xl">
        These writings are not designed for noise or sensationalism. They’re
        here to reflect the principles behind Pleasure: composure, discretion,
        and a refined approach to private companionship. Whether you’re visiting
        Amsterdam, planning an evening out, or simply prefer an experience that
        feels considered and professional, the goal is the same — clarity
        without pressure.
      </p>

      <p class="text-[0.9375rem] lg:text-xl">
        If you already know your direction, you may explore our
        <a href="" class="underline font-semibold">service</a> formats, review
        <a href="" class="underline font-semibold">locations</a>, or submit a
        <a href="" class="underline font-semibold">booking request</a> directly.
      </p>
    </div>

    <div class="flex md:justify-center">
      <button
        class="text-xl xl:text-2xl tracking-[-0.48px] leading-[110%] text-black cursor-pointer hover:text-black/60 lg:hover:text-black/70 active:text-black/60 lg:active:text-black/50 duration-300"
      >
        Booking request
        <i
          class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"
        ></i>
      </button>
    </div>
  </div>
</section>
