<section>
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <!-- Hero section -->
    <section
      class=" py-25 lg:py-0 lg:pb-25 lg:pt-[190px] flex flex-col lg:flex-row gap-6"
    >
      <div>
        <button class="text-base lg:text-lg mb-8 cursor-pointer">
          < All Writings
        </button>
        <div class="flex gap-4 items-center mb-4 lg:mb-6">
          <button
            class="text-sm lg:text-base px-2.5 py-1 bg-[#DAD3CA] border border-[#BBB5AD] rounded-[6px]"
          >
            insights
          </button>
          <p class="text-sm lg:text-base">9 min read</p>
        </div>
        <h1 class="text-[2.5rem] lg:text-[3.75rem] times-font leading-[120%]">
          Discretion in the Digital Age
        </h1>
        <p class="font-bold text-[15px] lg:text-base italic mt-6 lg:mt-8">
          Published on April 15, 2023
        </p>
      </div>
      <div class="w-full lg:w-[606px] h-[450px] overflow-hidden">
        <img src="/assets/images/Section.png" alt="" class="" />
      </div>
    </section>

    <section class="py-20 lg:py-25">
      <div class="flex flex-col-reverse lg:flex-row justify-between">
        <div class="lg:w-[768px] space-y-6 lg:space-y-8">
          <div class="">
            <h1
              class="text-[2.5rem] lg:text-[3.75rem] times-font leading-[120%] mb-4"
            >
              How private moments remain truly private
            </h1>
            <div class="space-y-4">
              <p class="text-base lg:text-lg leading-[160%]">
                In a world where everything seems to leave a trace, discretion
                has quietly become one of the most valuable luxuries. Messages
                are stored, locations are logged, and interactions are
                increasingly mediated by screens. Privacy, once assumed, now
                requires intention.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                In a world where everything seems to leave a trace, discretion
                has quietly become one of the most valuable luxuries. Messages
                are stored, locations are logged, and interactions are
                increasingly mediated by screens. Privacy, once assumed, now
                requires intention.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                At Pleasure, discretion is not an added promise. It is the
                framework within which everything operates. Especially in a
                digital age, that distinction matters more than ever.
              </p>
            </div>
          </div>
          <div>
            <h2
              class="text-[2.125rem] lg:text-[3rem] times-font leading-[120%] mb-4"
            >
              Privacy is no longer accidental
            </h2>
            <div class="space-y-4">
              <p class="text-base lg:text-lg leading-[160%]">
                In a world where everything seems to leave a trace, discretion
                has quietly become one of the most valuable luxuries. Messages
                are stored, locations are logged, and interactions are
                increasingly mediated by screens. Privacy, once assumed, now
                requires intention.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                In a world where everything seems to leave a trace, discretion
                has quietly become one of the most valuable luxuries. Messages
                are stored, locations are logged, and interactions are
                increasingly mediated by screens. Privacy, once assumed, now
                requires intention.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                At Pleasure, discretion is not an added promise. It is the
                framework within which everything operates. Especially in a
                digital age, that distinction matters more than ever.
              </p>
            </div>
          </div>
          <div>
            <h2
              class="text-[2.125rem] lg:text-[3rem] times-font leading-[120%] mb-4"
            >
              Digital discretion starts before the meeting
            </h2>
            <div class="space-y-4">
              <p class="text-base lg:text-lg leading-[160%]">
                Many people think privacy begins when two people meet. In
                reality, it begins much earlier.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                The way a service communicates online already signals how
                discreet the experience will be offline. Excessive marketing
                language, pressure-driven tactics, or chaotic presentation often
                translate into uncertainty later.
              </p>
              <p class="text-base lg:text-lg leading-[160%]">
                By contrast, a calm digital presence sets expectations:
              </p>

              <ul class="ml-5">
                <li class="text-base lg:text-lg leading-[160%] list-disc">
                  Clear information
                </li>
                <li class="text-base lg:text-lg leading-[160%] list-disc">
                  Neutral tone
                </li>
                <li class="text-base lg:text-lg leading-[160%] list-disc">
                  No urgency where none is needed
                </li>
                <li class="text-base lg:text-lg leading-[160%] list-disc">
                  Space to decide without pressure
                </li>
              </ul>
              <p class="text-base lg:text-lg leading-[160%]">A website that answers common questions reduces the need for exposure. Clear service descriptions replace guesswork. Transparent pricing guidelines remove awkward conversations later. Each element serves the same purpose: keeping the experience contained.</p>
            </div>

            <div class="mt-6">
                <img src="/assets/images/service-section.png" alt="">
            </div>
          </div>
        </div>
        <div>
          <p
            class="text-2xl lg:text-[2rem] leading-[120%] times-font mb-4 lg:mb-6"
          >
            In this article
          </p>
          <div class="flex flex-col">
            <a
              href=""
              class="w-[320px] truncate text-lg lg:text-xl px-4 py-3 border border-[#0B0B0B26] bg-[#D5C8B7]"
              >How private moments remain truly private</a
            >
            <a
              href=""
              class="w-[320px] truncate text-lg lg:text-xl px-4 py-3 border-b border-[#0B0B0B26]"
              >Privacy is no longer accidental</a
            >
            <a
              href=""
              class="w-[320px] truncate text-lg lg:text-xl px-4 py-3 border-b border-[#0B0B0B26]"
              >Why fewer messages create more comfort</a
            >
            <a
              href=""
              class="w-[320px] truncate text-lg lg:text-xl px-4 py-3 border-b border-[#0B0B0B26]"
              >Discretion is a shared responsibility</a
            >
            <a
              href=""
              class="w-[320px] truncate text-lg lg:text-xl px-4 py-3 border-b border-[#0B0B0B26]"
              >The role of setting in private experiences</a
            >
          </div>
          <div class="flex justify-end mt-6">
            <button
              class="text-base lg:text-lg leading-[160%] font-extralight cursor-pointer"
            >
              Expand >
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
