<section>
    <div class="max-w-[1336px] mx-auto px-8 relative z-20">
        <!-- Hero section -->
        <section class="py-[190px]">
            <div>
                <button class="text-base lg:text-lg mb-8 cursor-pointer"> < All Writings</button>
                <div class="flex gap-4 items-center">
                    <button class="text-sm lg:text-base px-2.5 py-1 bg-[#DAD3CA] border border-[#BBB5AD] rounded-[6px]">insights</button>
                    <p class="text-sm lg:text-base">9 min read</p>
                </div>
                <h1 class="text-[2.5rem] lg:text-[3.75rem] times-font">Discretion in the Digital Age</h1>
            </div>
        </section>
    </div>
</section>