<section class="">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-end  py-12 lg:py-25 border-t border-[#0000001A] lg:border-none">
      <div>
        <img
          src="../../assets/images/blog/blog-03.jpg"
          alt="Why Privacy Matters"
          class="lg:w-[636px] lg:h-[636px] object-cover"
        />
      </div>
      <div>
        <div class="mb-4 lg:mb-[169px]">
          <div
            class="flex gap-8 lg:justify-center text-xs md:text-base leading-[160%] uppercase md:capitalize mb-4"
          >
            <p>Latest Post</p>
            <p>18 January 2025</p>
            <p class="hidden lg:block">6 Min Read</p>
          </div>
          <h2
            class="text-[2.5rem] lg:text-[3.5rem] times-font tracking-[-3px] leading-[100%] text-left lg:text-center"
          >
            Why Privacy <br class="lg:hidden" />
            Changes Connection
          </h2>
        </div>

        <div>
          <p
            class="text-sm lg:text-lg text-[#282828] text-left lg:text-center mb-4"
          >
            Privacy is not something added at the end. It shapes how people
            arrive, speak, and remain present. When it is respected from the
            beginning, attention softens and expectations fall away.
          </p>
          <div class="flex md:justify-center">
            <button
              class="text-xl xl:text-2xl tracking-[-0.48px] leading-[110%] text-black cursor-pointer hover:text-black/60 lg:hover:text-black/70 active:text-black/60 lg:active:text-black/50 duration-300"
            >
              Read
              <i
                class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
