<section class="pt-17 pb-17 lg:pt-12 lg:pb-25">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div>
      <div class="py-4 border-b border-[#D5C8B7] mb-8">
        <h1
          class="text-[2.58rem] lg:text-[2.5rem] text-center lg:text-left times-font leading-[100%]"
        >
          All Locations
        </h1>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <div>
          <h2
            class="text-xl lg:text-2xl leading-[100%] uppercase times-font mb-4"
          >
            NOORD-HOLLAND
          </h2>
          <div class="flex flex-col justify-between">
            <ul class="space-y-1">
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
            </ul>
            <div>
              <button class="text-sm lg:text-base text-[#8B7354]">
                Show more cities in Noord-Holland >
              </button>
            </div>
          </div>
        </div>
        <div>
          <h2
            class="text-xl lg:text-2xl leading-[100%] uppercase times-font mb-4"
          >
            ZUID-HOLLAND
          </h2>
          <div class="flex flex-col justify-between">
            <ul class="space-y-1">
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
            </ul>
            <div>
              <button class="text-sm lg:text-base text-[#8B7354]">
                Show more cities in Zuid-Holland >
              </button>
            </div>
          </div>
        </div>
        <div>
          <h2
            class="text-xl lg:text-2xl leading-[100%] uppercase times-font mb-4"
          >
            UTRECHT
          </h2>
          <div class="flex flex-col justify-between">
            <ul class="space-y-1">
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
              <li
                class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
              >
                Amsterdam
              </li>
            </ul>
            <div>
              <button class="text-sm lg:text-base text-[#8B7354]">
                Show more cities in Utrecht >
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div>
            <h2
              class="text-xl lg:text-2xl leading-[100%] uppercase times-font mb-4"
            >
              FLEVOLAND
            </h2>
            <div class="flex flex-col justify-between">
              <ul>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
              </ul>
              <button class="text-sm lg:text-base text-[#8B7354] text-left mt-4">
                Show more cities in Utrecht >
              </button>
            </div>
          </div>
          <div>
            <h2
              class="text-xl lg:text-2xl leading-[100%] uppercase times-font mb-4"
            >
              OTHER CITIES
            </h2>
            <div  class="flex flex-col justify-between">
              
              <ul>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
                <li
                  class="text-[15px] lg:text-base times-font text-[#2E2C2A] leading-[100%]"
                >
                  Amsterdam
                </li>
              </ul>
              <button class="text-sm lg:text-base text-[#8B7354] text-left mt-4">
                Show more cities in Utrecht >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
