<section class="py-11.5 xl:py-25 relative">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div>
      <h2 class="text-[2rem] lg:text-[3.5rem] text-center times-font mb-4">
        Core locations
      </h2>
      <p class="text-center text-[15px] lg:text-xl text-[#5C5955] lg:w-[60ch] mx-auto">
        Our main focus is Amsterdam and its immediate surroundings. These
        locations are where alignment is typically fastest and most efficient.
      </p>
    </div>

    <div class="mt-8 lg:mt-12">
      <div
        id="coreLocationGrid"
        class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3.75"
      ></div>
    </div>
  </div>
</section>
