<section class="lg:py-25">
    <div class="max-w-[1336px] mx-auto px-8 relative z-20">
        <div class="">
            <h1 class="text-[2rem] lg:text-[3.375rem] times-font leading-[100%] mb-4">Discretion & clarity</h1>
            <p class="text-[15px] lg:text-base font-extralight mb-4 xl:w-[90ch]">Discretion is not an extra promise — it is the foundation. Communication stays calm and purposeful, and we align only what is necessary to keep the experience comfortable. The purpose of this structure is simple: fewer messages, clearer expectations, and a confirmation that feels discreet and professional.</p>
            <p class="text-[15px] lg:text-base font-extralight xl:w-[88ch]">If you prefer to ask a practical question first, that remains possible — but booking requests are always the most efficient route</p>
        </div>
    </div>
</section>