<section class="py-25 xl:py-50 relative">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <div class="border bg-white rounded max-w-[750px] mx-auto">
     <div>
         <h2 class="text-[2rem] lg:text-[3.5rem] text-center times-font mb-4">Find Your City</h2>
         <p class="text-center text-[15px] lg:text-xl text-[#5C5955] ">Start typing to search, or browse by region. The goal is simple: choose your city, then submit one clear request so we can confirm discreetly.</p>
     </div>
    </div>
  </div>
</section>
