<section class="pb-0 pt-25 lg:pb-50 xl:pt-50 relative">
  <div class="max-w-[1336px] mx-auto px-8 relative z-20">
    <h1
      class="uppercase times-font text-[3.5rem] md:text-[4.5rem] lg:text-[6.2rem] xl:text-[9.03vw] 2xl:text-[6.8vw] leading-[110%] tracking-[-3px] mb-7.5 lg:mb-8"
    >
      Locations
    </h1>
    <div class="flex items-end gap-4">
      <div class="space-y-4 max-w-[926px]">
        <p class="text-[0.9375rem] lg:text-xl leading-[110%]">
          Amsterdam is our core focus — where discretion and timing can be
          handled most efficiently. At the same time, we receive requests for
          selected surrounding areas and key cities, depending on planning and
          arrangement. This page helps you find the right location quickly and
          move into a calm booking request flow.
        </p>
        <p class="hidden xl:block text-[0.9375rem] lg:text-xl">
          If you already know your city, you can start from its city page for
          local context and then proceed with a Booking request. If you’re still
          deciding, browse the lists below. For the smoothest confirmation, we
          recommend selecting 2–3 preferences in your request.
        </p>
      </div>

      <div class="hidden lg:flex md:justify-center items-center gap-6">
        <button
          class="xl:text-sm tracking-[-0.48px] leading-[110%] bg-black cursor-pointer hover:bg-black/60 lg:hover:bg-black/70 active:bg-black/60 lg:active:bg-black/50 duration-300 py-3.5 px-6 text-white flex items-center text-nowrap"
        >
          Booking request
          <i
            class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"
          ></i>
        </button>
        <button
          class="xl:text-sm tracking-[-0.48px] leading-[110%] text-black cursor-pointer hover:text-black/60 lg:hover:text-black/70 active:text-black/60 lg:active:text-black/50 duration-300 flex items-center border-b h-fit text-nowrap"
        >
          View profiles
          <i
            class="fa-solid fa-arrow-right text-sm xl:text-[17px] -rotate-45 ml-1"
          ></i>
        </button>
      </div>
    </div>
  </div>
</section>
